.full {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 560px;
}
.hd {
    list-style: none;
    display: flex;
    gap: 25px;
}
.title2,.title3,.title4,.title5 {
   color: #838383
}
.nashir1 {
    border: 2px c;
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 130px 50px;
    gap: 60px;
}
.tugma {
    border: 2px inset #838383;
    border-radius: 20px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    background-color: aqua;
}
.pastkinashir {
    color: #838383;
}
.mavzu {
    margin: 40px 400px;
}
.ma {
    display: flex;
    justify-content: center;
}
.qator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.Frame {
    border: 3px inset rgb(255, 255, 255);
    margin: 65px;
    padding: 83px 80px;
    border-radius: 30px;
    background-color: rgb(225, 225, 225);
}
.Frame1 {
    border: 3px inset rgb(255, 255, 255);
    margin: 65px;
    padding: 80px 80px;
    border-radius: 30px;
    background-color: rgb(225, 225, 225);
}
.lupa {
    border: 3px inset rgb(255, 255, 255);
    margin: 65px;
    padding: 75px 100px;
    border-radius: 30px;
    background-color: rgb(225, 225, 225);
}
.rang {
    color: rgb(225, 225, 225);

}
.b1 {
    color: rgb(225, 225, 225);
}
.qator2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.Frame5 {
    border: 3px inset rgb(255, 255, 255);
    margin: 65px;
    padding: 80px 70px;
    border-radius: 30px;
    background-color: rgb(225, 225, 225);
}
.lupa1 {
    border: 3px inset rgb(255, 255, 255);
    margin: 65px;
    padding: 75px 90px;
    border-radius: 30px;
    background-color: rgb(225, 225, 225);
}
.tugma1 {
    width: 0px auto;
    border: 2px inset rgb(82, 82, 250);
    padding: 9px;
    margin: 40px 650px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: rgb(55, 216, 162);

}
.gg {
    padding: 2px 2px;
}



